
.roboto-uniquifier{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body{
  background-color: lightgray;

}
img{
  align-items: center;
  border-radius: 50%;
}