
.datatype-uniquifier{
  font-family: "Datatype", monospace;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.classA{
  background-color: springgreen;
}
*{
  background-color: lightblue;
}